header.header
	.container
		.row
			.col-lg-5
				.filter--toggle
					i.mdi.mdi-tune
					span Filters
				.header--logo
					a(href="#") Hajj
						span Supermarket
				.menu--toggle
					i.mdi.mdi-menu
					span Menu
			.col-lg-7
				.header--menu-wrap
					ul.header--menu
						li.liked-counter
							a(href="#") Liked 
								span 0
						li.has-dropdown
							a(href="#") How to hajj
							ul
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
						
						li.has-dropdown
							a(href="#") Login
							ul
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item

						li.has-dropdown
							a(href="#") Help
							ul
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
								li
									a(href="#") Dropdown Item
