// build:js js/all.min.js 
script(src='js/jquery.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.maskedinput.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.malihu.PageScroll2id.js')
script(src='js/common.js')
// endbuild 